In [15]:
instance_no = '01'
round_no = '01'

In [16]:
!gsutil cp gs://store_data_gh/results_scan_on_port_443/round_7/zipped/tls/zgrab_result_instance-01_443_20210902.json.bz2 $HOME/myprojectdir/Data/banners.json.bz2

Copying gs://store_data_gh/results_scan_on_port_443/round_7/zipped/tls/zgrab_result_instance-01_443_20210902.json.bz2...
==> NOTE: You are downloading one or more large file(s), which would
run significantly faster if you enabled sliced object downloads. This
feature is enabled by default but requires that compiled crcmod be
installed (see "gsutil help crcmod").

- [1 files][  7.8 GiB/  7.8 GiB]      0.0 B/s
Operation completed over 1 objects/7.8 GiB.

In [17]:
!bzip2 -d $HOME/myprojectdir/Data/banners.json.bz2

In [18]:
!du -h Data/banners.json

28G	Data/banners.json

In [19]:
jsonData = []

In [20]:
import json
import pandas as pd
import numpy as np

In [22]:
columnlist = [
  'ip',
  'data.tls.status',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.common_name',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.country',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.organization',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer_dn',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.common_name',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.country',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.locality',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.province',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.organization',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject_dn',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.extensions.subject_alt_name.dns_names'
]

In [23]:
finallist = []
count = 0

with open('Data/banners.json') as file:
    for line in file:
        count=count+1
        row = json.loads(line.rstrip())
        df = pd.json_normalize(row)
        templist = []
        for column in columnlist:
          if column in df.columns:
            templist.append(df[column].values[0])
          else:
            templist.append(np.nan)
        finallist.append(templist)
        if(count%50000==0):
          print(count)

50000
100000
150000
200000
250000
300000
350000
400000
450000
500000
550000
600000
650000
700000
750000
800000
850000
900000
950000
1000000
1050000
1100000
1150000
1200000
1250000
1300000
1350000
1400000
1450000
1500000
1550000
1600000
1650000
1750000
1800000
1850000
1900000
1950000
2000000
2050000
2100000
2150000
2200000
2250000
2300000
2350000
2400000

In [24]:
finallist = pd.DataFrame(finallist, columns =columnlist)

In [25]:
finallist

,ip,data.tls.status,data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.common_name,data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.country,data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.organization,data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer_dn,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.common_name,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.country,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.locality,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.province,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.organization,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject_dn,data.tls.result.handshake_log.server_certificates.certificate.parsed.extensions.subject_alt_name.dns_names
0,23.227.57.106,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,23.227.58.11,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23.227.54.10,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23.227.52.78,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13.249.93.94,unknown-error,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2437543,18.218.38.66,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2437544,18.133.125.171,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2437545,15.184.199.146,connection-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2437546,1.171.18.183,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2437547,14.139.61.154,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
finallist['data.tls.result.handshake_log.server_certificates.certificate.parsed.extensions.subject_alt_name.dns_names'].count()

1815288

In [27]:
finallist.to_csv('tls_certificate_'+instance_no+'.csv')

In [ ]:
!rm -r Data/100KChunks/

In [ ]:
!rm  Data/100KChunks/*Temp*

In [ ]:
!mkdir Data/100KChunks/

In [13]:
!rm Data/banners.json

In [14]:
!rm -r Data/banners.json.bz2

rm: cannot remove 'Data/banners.json.bz2': No such file or directory