In [1]:
instance_no = '02'
round_no = '01'

In [2]:
!gsutil cp gs://store_data_gh/results_scan_on_port_443/round_7/zipped/tls/banner2.json $HOME/myprojectdir/Data/banners2.json

Copying gs://store_data_gh/results_scan_on_port_443/round_7/zipped/tls/banner2.json...
==> NOTE: You are downloading one or more large file(s), which would
run significantly faster if you enabled sliced object downloads. This
feature is enabled by default but requires that compiled crcmod be
installed (see "gsutil help crcmod").

\ [1 files][ 44.3 GiB/ 44.3 GiB]      0.0 B/s
Operation completed over 1 objects/44.3 GiB.

In [3]:
!bzip2 -d $HOME/myprojectdir/Data/banners2.json.bz2

bzip2: Can't open input file /home/shnrndk3/myprojectdir/Data/banners2.json.bz2: No such file or directory.

In [4]:
!du -h Data/banners2.json

45G	Data/banners2.json

In [5]:
jsonData = []

In [6]:
import json
import pandas as pd
import numpy as np

In [7]:
columnlist = [
  'ip',
  'data.tls.status',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.common_name',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.country',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.organization',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer_dn',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.common_name',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.country',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.locality',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.province',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.organization',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject_dn',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.extensions.subject_alt_name.dns_names'
]

In [8]:
finallist = []
count = 0

with open('Data/banners2.json') as file:
    for line in file:
        count=count+1
        row = json.loads(line.rstrip())
        df = pd.json_normalize(row)
        templist = []
        for column in columnlist:
          if column in df.columns:
            templist.append(df[column].values[0])
          else:
            templist.append(np.nan)
        finallist.append(templist)
        if(count%50000==0):
          print(count)

50000
100000
150000
250000
300000
350000
400000
450000
500000
550000
600000
650000
700000
750000
800000
850000
900000
950000
1000000
1050000
1100000
1150000
1200000
1250000
1300000
1350000
1400000
1450000
1500000
1550000
1600000
1650000
1700000
1750000
1800000
1850000
1900000
1950000
2000000
2050000
2100000
2150000
2200000
2250000
2300000
2350000
2400000
2450000
2500000
2550000
2600000
2650000
2700000
2750000
2800000
2850000
2900000
2950000
3000000
3050000
3100000
3150000
3200000
3250000
3300000
3400000
3450000
3500000
3550000
3600000
3650000
3700000
3750000

In [9]:
finallist = pd.DataFrame(finallist, columns =columnlist)

In [10]:
finallist

,ip,data.tls.status,data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.common_name,data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.country,data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.organization,data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer_dn,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.common_name,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.country,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.locality,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.province,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.organization,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject_dn,data.tls.result.handshake_log.server_certificates.certificate.parsed.extensions.subject_alt_name.dns_names
0,34.96.101.236,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,34.96.65.163,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,34.98.64.191,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,34.149.250.47,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,34.95.66.70,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3758080,35.226.157.59,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3758081,45.181.95.80,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3758082,43.251.45.11,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3758083,61.172.235.110,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3758084,58.30.218.127,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
finallist['data.tls.result.handshake_log.server_certificates.certificate.parsed.extensions.subject_alt_name.dns_names'].count()

2840070

In [12]:
finallist.to_csv('tls_certificate_'+instance_no+'.csv')

In [ ]:
!rm -r Data/100KChunks/

In [ ]:
!rm  Data/100KChunks/*Temp*

In [ ]:
!mkdir Data/100KChunks/

In [13]:
!rm Data/banners2.json

In [14]:
!rm -r Data/banners2.json.bz2

rm: cannot remove 'Data/banners2.json.bz2': No such file or directory