In [17]:
instance_no = '06'
round_no = '01'

In [18]:
!gsutil cp gs://store_data_gh/results_scan_on_port_443/round_7/zipped/tls/zgrab_result_instance-06_443_20210902.json.bz2 $HOME/myprojectdir/Data/banners1.json.bz2

Copying gs://store_data_gh/results_scan_on_port_443/round_7/zipped/tls/zgrab_result_instance-06_443_20210902.json.bz2...
==> NOTE: You are downloading one or more large file(s), which would
run significantly faster if you enabled sliced object downloads. This
feature is enabled by default but requires that compiled crcmod be
installed (see "gsutil help crcmod").

/ [1 files][  4.7 GiB/  4.7 GiB]      0.0 B/s
Operation completed over 1 objects/4.7 GiB.

In [19]:
!bzip2 -d $HOME/myprojectdir/Data/banners1.json.bz2

In [20]:
!du -h Data/banners1.json

16G	Data/banners1.json

In [21]:
jsonData = []

In [22]:
import json
import pandas as pd
import numpy as np

In [23]:
columnlist = [
  'ip',
  'data.tls.status',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.common_name',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.country',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.organization',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer_dn',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.common_name',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.country',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.locality',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.province',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.organization',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.subject_dn',
  'data.tls.result.handshake_log.server_certificates.certificate.parsed.extensions.subject_alt_name.dns_names'
]

In [24]:
finallist = []
count = 0

with open('Data/banners1.json') as file:
    for line in file:
        count=count+1
        row = json.loads(line.rstrip())
        df = pd.json_normalize(row)
        templist = []
        for column in columnlist:
          if column in df.columns:
            templist.append(df[column].values[0])
          else:
            templist.append(np.nan)
        finallist.append(templist)
        if(count%50000==0):
          print(count)

50000
100000
150000
200000
250000
300000
350000
400000
450000
500000
550000
600000
650000
700000
750000
800000
850000
900000
950000
1000000
1050000
1100000
1150000
1200000
1250000
1350000
1400000
1450000
1500000
1550000
1600000
1700000

In [25]:
finallist = pd.DataFrame(finallist, columns =columnlist)

In [26]:
finallist

,ip,data.tls.status,data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.common_name,data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.country,data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer.organization,data.tls.result.handshake_log.server_certificates.certificate.parsed.issuer_dn,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.common_name,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.country,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.locality,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.province,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject.organization,data.tls.result.handshake_log.server_certificates.certificate.parsed.subject_dn,data.tls.result.handshake_log.server_certificates.certificate.parsed.extensions.subject_alt_name.dns_names
0,172.65.215.137,connection-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,172.65.78.237,connection-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,172.65.155.35,connection-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,172.65.213.176,connection-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,172.65.189.166,connection-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1720251,186.10.206.48,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1720252,178.167.93.169,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1720253,165.3.101.251,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1720254,181.200.81.107,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1720255,181.200.73.194,io-timeout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
finallist['data.tls.result.handshake_log.server_certificates.certificate.parsed.extensions.subject_alt_name.dns_names'].count()

1009401

In [28]:
finallist['ip'].count()

1720256

In [29]:
finallist.to_csv('tls_certificate_'+instance_no+'.csv')

In [ ]:
!rm -r Data/100KChunks/

In [ ]:
!rm  Data/100KChunks/*Temp*

In [ ]:
!mkdir Data/100KChunks/

In [30]:
!rm Data/banners1.json

In [31]:
!rm -r Data/banners1.json.bz2

rm: cannot remove 'Data/banners1.json.bz2': No such file or directory

In [ ]:
sudo