In [ ]:
!sudo apt-get install bzip2

Reading package lists... Done
Building dependency tree
Reading state information... Done
bzip2 is already the newest version (1.0.6-8.1ubuntu0.2).
0 upgraded, 0 newly installed, 0 to remove and 40 not upgraded.

In [ ]:
!bzip2 -d FinalIPlistPerServerSorted_round_02.csv.bz2

In [ ]:
!bzip2 -d gcp_expanded.csv.bz2

In [ ]:
vendoriplist = []
with open('digitalOcean_expanded.csv') as file:
  for line in file:
      vendoriplist.append(line.rstrip())

In [ ]:
import pandas as pd

In [ ]:
vendordf = pd.DataFrame(vendoriplist)
vendordf.columns = ['IP']

In [ ]:
df = pd.read_csv('FinalIPlistPerServerSorted_round_02.csv')

In [ ]:
df

                    IP   Server
0          54.37.83.77
XXXXX

1         54.38.81.179
XXXXX

2          54.37.83.77
XXXXX

3         54.38.81.179
XXXXX

4         54.38.81.179
XXXXX

...                ...      ...
32578255  52.23.56.124        üôà
32578256  52.23.56.124        üôà
32578257  52.23.56.124        üôà
32578258  52.23.56.124        üôà
32578259  52.23.56.124        üôà

[32578260 rows x 2 columns]

In [ ]:
vendordf

                     IP
0            5.101.96.1
1            5.101.96.2
2            5.101.96.3
3            5.101.96.4
4            5.101.96.5
...                 ...
2512415  209.97.191.250
2512416  209.97.191.251
2512417  209.97.191.252
2512418  209.97.191.253
2512419  209.97.191.254

[2512420 rows x 1 columns]

In [ ]:
merged = pd.merge(df, vendordf)

In [ ]:
merged

                     IP                          Server
0         138.68.76.199  "><img src=x onerror=alert(1)>
1         138.68.76.199  "><img src=x onerror=alert(1)>
2       167.172.134.113                         (_8-(|)
3       167.172.134.113                         (_8-(|)
4       167.172.134.113                         (_8-(|)
...                 ...                             ...
784197   68.183.223.239                    ‚ÄúB4B_SERVER‚Äù
784198   68.183.223.239                    ‚ÄúB4B_SERVER‚Äù
784199   68.183.223.239                    ‚ÄúB4B_SERVER‚Äù
784200    159.89.31.162                        ‚ÄúSERVER‚Äù
784201    159.89.31.162                        ‚ÄúSERVER‚Äù

[784202 rows x 2 columns]

In [ ]:
merged.to_csv('merged_digital_ocean_with_servers_round_2.csv',index=False)